body {
    font-family: Helvetica, serif}
h1 {font-size: 80px}
h2 {font-size: 40px}

.headerwit{color:#EDF2F4 }

.education{padding: 30px; background-color: #8D99AE }

a {color: #EF233C}

header, footer{margin: 10px; padding: 30px; color: #8D99AE; background-color: #2B2D42 }

header{margin-bottom: 10px}
footer{margin-top: 10px}